{{template "header"}}


<div class="top-nav">
    <div class="content">
        <a id="mindale-logo" href="/" title="Home" class="use-sprite sprite-nav-logo"></a>
        <div class="nav-entry box color-light">
          <div class="box nav-link show-pointer" id="apps">Apps</div>
          <div class="box nav-link show-pointer" id="features">Features</div>
          <a class="box nav-link show-pointer" id="support" href="http://www.mindale.com/forum" target="ablank">Support</a>
        </div>

        <div id="signin">
            <a onclick="mindale.auth();" id="signinButton">Sign in!</a>
            <span id="userLabel">(not signed in)</span>
        </div>

        <!--

        <div class="login-out-area box color-light">

            <a href="f" onclick="google.devrel.samples.ttt.auth();" id="signinButton"><div class="show-pointer box button" id="signup-entry">Log In</div></a>
            <a onclick="logout();"><div class="show-pointer box" id="signup-entry">Log Out</div></a>
        </div>
        <!--
    </div>
</div>

    <div class="screen-page fall-gradient" id="apps-screen">
      <div class="content">
        <div id="mindale-title" class="use-sprite sprite-mindale"></div>
        <div class="color-light normal-title">Your great todo list app to make life easier</div>
        <div class="color-light big-title"></div>
        <div class="inner-content">
          <div class="app-screenshot"></div>
          
		 
		
       </div>
    
        <div class="app-cards">
          <a id="app-link-1" class="box use-sprite sprite-app-store"  href="#" title="Get iOS App"></a>
          <a id="app-link-2" class="box use-sprite sprite-play-store" href="#" title="Get Android App"></a>
          <a id="app-link-3" class="box use-sprite sprite-web-store"  href="#" title="Get Chrome Extension"></a>          
        </div>
        
      </div>
    </div>
    <div class="screen-page" id="features-screen">
      <div class="content">
        <div class="color-dark big-title">Features</div>
        <div class="intro-cards">
          <div class="box">
            <div class="card-icon use-sprite sprite-repeat"></div>
            <div class="card-header">Flexible recurring tasks</div>
            <div class="card-detail">Schedule your weekly or monthly tasks to repeat upon due date or actual completion date</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-checklist"></div>
            <div class="card-header">Checklist</div>
            <div class="card-detail">Ideal for creating shopping list, packing list or making any type of subtasks</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-location"></div>
            <div class="card-header">Location-based reminder</div>
            <div class="card-detail">Remind you when you leave or arrive a specific place to ensure no task is delayed</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-priority"></div>
            <div class="card-header">Multi-level priority</div>
            <div class="card-detail">Set different priorities for your to-do’s so as to better manage your time</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-share"></div>
            <div class="card-header">Task Collaboration</div>
            <div class="card-detail">Share your list with friends, teammates or families to achieve goals together</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-notification"></div>
            <div class="card-header">Customized notification</div>
            <div class="card-detail">To be notified at your preferred time so that you can get prepared for task deadline</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-gmail"></div>
            <div class="card-header">Gmail Integration</div>
            <div class="card-detail">Download Chrome Extension and easily convert an email into a to-do with just one click</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-platform"></div>
            <div class="card-header">Cross-platform cloud sync</div>
            <div class="card-detail">Seamlessly sync your to-do’s across all your devices ( iOS, Android, Web)</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-email"></div>
            <div class="card-header">Email your to-do’s</div>
            <div class="card-detail">Send email to Mindale and we will turn it into an action within Mindale</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-backup"></div>
            <div class="card-header">Backup on web</div>
            <div class="card-detail">No matter done, uncompleted or archived, all your data can be tracked back on Mindale.com</div>
          </div>
          
          <div class="box">
            <div class="card-icon use-sprite sprite-print"></div>
            <div class="card-header">Print your to-do’s</div>
            <div class="card-detail">For easy reading, you can choose to print out your to-do’s on a piece of paper</div>
          </div>
          <div class="box">
            <div class="card-icon use-sprite sprite-calendar"></div>
            <div class="card-header">Calendar Integration</div>
            <div class="card-detail">Subscribe Mindale in Calendar app so as to check events and tasks simultaneously</div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-screen" id="popup">
      <div id="login-box" class="box">
        <div class="popup-header">
          Sign in          <span class="close">╳</span>
        </div>
        <form class="popup-body" id="login-form" novalidate>
          <div class="line">
            <span class="sign-icon"><i class="use-sprite sprite-account"></i></span>
            <input id="username" type="email" autofocus placeholder="Email" class="input-box" name="username">
          </div>
          <div class="error">
              <p class="warn" id="email_invalid_warn">Invalid email</p>
              <p id="error_no_user_info" class="warn">Sorry, your user name does not exist</p>
          </div>
          <div class="line">
            <span class="sign-icon"><i class="use-sprite sprite-password"></i></span>
            <input id="password" type="password" placeholder="Password" class="input-box" name="passwd">
          </div>
          <div class="error">
              <p class="warn" id="login_length_warn">Password requires at least 6 characters</p>
              <p id="error_username_password" class="warn">Incorrect username or password</p>
          </div>
          <div class="line submit" id="signin-info">
            <input id="submit-login" type="submit" class="button ready" value="Sign in" />
            <input class="button sending" value="Signing in..." />
            <div class="box submit-options">
              <!-- <input type="checkbox" id="keep-login" checked="false"><span>Keep sign in?</span> -->
              <!-- <br> -->
              <a href="index.html#" id="forget-password">Forget password</a>
            </div>
          </div>
          
<div class="line social-signin">
  <span>Sign in with</span>
  <a href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email&redirect_uri=https://mindale.com/sign/google&state=Lw&response_type=token&client_id=366263775281.apps.googleusercontent.com" class="google-login" hidefocus="true" title="Google">
    <i class="icon_home icon_google"></i>Google
  </a>
  <a href="https://www.facebook.com/dialog/oauth?client_id=687713684576416&redirect_uri=https://www.mindale.com/sign/facebook&state=Lw&response_type=token&scope=email" class="google-login" hidefocus="true" title="Facebook">
    <i class="icon_home icon_facebook"></i>Facebook
  </a>
</div>        </form>
      </div>
      <div id="signup-box" class="box">
        <div class="popup-header">
          Sign Up          <span class="close">╳</span>
        </div>
        <form class="popup-body" id="signup-form" novalidate>
          <div class="line">
            <span class="sign-icon"><i class="use-sprite sprite-account"></i></span>
            <input id="set-username" autofocus x-autocompletetype="email" type="email" placeholder="Email" class="input-box" name="username">
          </div>
          <div class="error email-warn">
            <p class="warn" id="share_user_account">All our sites (gnotes.me & mindale.com) share the same user account, please <a class="switch-login" href="http://www.mindale.com/signin">sign in</a> directly with your account.</p>
            <p class="warn" id="taken_warn">This email was already registered, please <a class="switch-login" href="http://www.mindale.com/signin">sign in</a> or <a href="http://www.mindale.com/sign/requestRestPassword">rest password</a>.</p>
            <p class="warn" id="invalid_warn">Invalid email</p>
          </div>

          <div class="line">
            <span class="sign-icon"><i class="use-sprite sprite-password"></i></span>
            <input id="set-password" type="password" placeholder="Password" class="input-box" name="passwd">
          </div>
          <div class="error">
            <p class="warn" id="length_warn1">Password requires at least 6 characters</p>
          </div>

          <div class="line">
            <span class="sign-icon"><i class="use-sprite sprite-password"></i></span>
            <input id="confirm-password" type="password" placeholder="Confirm password" class="input-box" name="passwd">
          </div>
          <div class="error">
            <p class="warn" id="pw_match_warn">Password do not match</p>
          </div>

          <div class="line submit" id="signup-info">
            <input id="submit-signup" type="submit" class="button ready" value="Sign Up"/>
            <input class="button sending" value="Signing up..."/>
            <!-- <div class="box submit-options"> -->
              <!-- <a href="#" id="back-login">Back to sign in</a> -->
            <!-- </div> -->
          </div>
          
          
			<div class="line social-signin">
  				<span>Sign in with</span>
  				<a href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email&redirect_uri=https://mindale.com/sign/google&state=Lw&response_type=token&client_id=366263775281.apps.googleusercontent.com" class="google-login" hidefocus="true" title="Google">
    				<i class="icon_home icon_google"></i>Google
  				</a>
  				<a href="https://www.facebook.com/dialog/oauth?client_id=687713684576416&redirect_uri=https://www.mindale.com/sign/facebook&state=Lw&response_type=token&scope=email" class="google-login" hidefocus="true" title="Facebook">
    				<i class="icon_home icon_facebook"></i>Facebook
  				</a>
			</div>        
		</form>
      </div>
    </div>
    <div class="screen-page">
      <div class="bottom-area">
  <p class="bottom_navs">    
    <a href="http://blog.mindale.com/"             hidefocus="true">Blog</a> | 
    <a href="http://www.mindale.com/about/privacy" hidefocus="true">Privacy</a> | 
    <a href="http://www.mindale.com/about/tos"     hidefocus="true">Terms</a> | 
    <a href="http://www.mindale.com/about/upgrade" hidefocus="true">Go Pro</a> | 
    <a href="http://help.mindale.com/"             hidefocus="true" target="_blank">Help</a>
  </p>
  <p class="bottom copyright">
    <span>&copy;2014 Mindale Team</span>    
  </p>
</div>    </div>
  
  <!--  
  <script type="text/javascript" src="http://d3qg9zffrnl4ph.cloudfront.net/static/build/landing.fedadc040fb3853e7ac46c85a679c9ee.js"></script>
  -->



{{template "footer"}}