

<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<polymer-element name="projects-group" attributes="api project_id">
	

	<template>
        <style>


              paper-button{
                background: #4285f4;
                color: white;

                 margin: 20px;
              }
             
        </style>


        <div>Запросы</div>




        <div class="groups" layout horizonal center>

            <template repeat="{{items}}">

                <div class="group-item" value="{{id}}" layout horizonal center>

                    <div>{{name}}</div>
                    <div>{{members_count}}</div>

                </div>


            </template>

        </div>

        <paper-button class="colored" on-tap={{getList}}>обновить списокв</paper-button>
        


    </template>

    <script>

         Polymer({
            
             project_idChanged: function () {

                 if (!this.api || !this.project_id) {
                     return false;
                 }

                 //this.getList();
             },


            getList: function () {

                if (!this.project_id){
                    return false;
                }

                this.api.groups.list({
                    "project_id": this.project_id.toString(),
                    "limit": 1000

                }).then(function(resp) {

                        this.items = resp.result.items;

                }.bind(this),
                function(err) {
                    this.items = [];
                });

            }


         });

    </script>

</polymer-element>