

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog-transition.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<link rel="import" href="/view/projects/group.html">

<polymer-element name="params-custom" attributes="api project_id">
	

	<template>
        <style>


          paper-button{

              background: #4285f4;
              color: #fff;

              margin: 30px;
          }

            .search-item{
                cursor: pointer;
            }


            .groups {
                margin: 50px;
            }
             
        </style>


        <h3>Запросы:</h3>


        <template repeat="{{items}}">

            <div layout horizonal center class="search-item" value="{{id}}" >

                <core-icon icon="search"></core-icon>{{name}}
                

                <!-- <paper-button value="{{id}}" on-tap="{{search}}">обновить с vk.com</paper-button> -->
                <paper-button value="{{id}}" on-tap="{{delete}}">удалить</paper-button>

            </div>

        </template>



        <paper-button class="colored" on-tap={{openDialog}}>Создать поиск</paper-button>


          <paper-dialog id="createDialog" heading="Create new Query" transition="paper-dialog-transition-center">
            

            <paper-input id="createText">Введите текст поиска</paper-input>
            
            <paper-button on-tap={{create}} affirmative autofocus>Создать</paper-button>

          </paper-dialog>



    </template>

    <script>

         Polymer({
            
             project_idChanged: function () {

                 if (!this.api || !this.project_id) {
                     return false;
                 }

                 this.getList();
             },


            getList: function () {

                console.log('Load custom list');
                if (!this.project_id){
                    return false;
                }


                this.api.params.custom.list({
                    "project_id": this.project_id.toString(),
                    "limit": 1000

                }).then(function(resp) {

                    this.items = resp.result.items;

                }.bind(this),
                function(err) {
                    this.items = [];
                });



            },
                  

            openDialog: function(){

                this.$.createText.value = "";

                this.$.createDialog.toggle();

            },


             create: function(){

                var new_name = this.$.createText.value;

                var request = this.api.params.custom.create({"name": new_name, "project_id": this.project_id.toString() });

                  request.execute(function (resp) {

                    this.items.push(resp);

                  }.bind(this));

              },


             search: function (e) {

                 var custom_id = e.target.getAttribute('value');
                 

                 this.api.groups.fetch({
                     "custom_id": custom_id,
                     "limit": 3

                 }).then(function (resp) {

                 }.bind(this),
                 function (err) {

                 });

             },

             delete: function (e) {

                 var custom_id = e.target.getAttribute('value');

                 this.api.params.custom.delete({
                     "custom_id": custom_id

                 }).then(function (resp) {

                             this.items.removeById(custom_id);

                 }.bind(this),
                 function (err) {

                 });

             }



          });

    </script>

</polymer-element>