
  <!-- 2. Use an HTML Import to bring in the element. -->
  <link rel="import" href="bower_components/core-ajax/core-ajax.html">

  <link rel="import" href="bower_components/paper-fab/paper-fab.html">
  <link rel="import" href="bower_components/core-icons/core-icons.html">


  <link rel="import" href="bower_components/core-scaffold/core-scaffold.html">
  <link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
  
  <link rel="import" href="bower_components/core-icon-button/core-icon-button.html">
  <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
  <link rel="import" href="bower_components/core-menu/core-submenu.html">


  <link rel="import" href="projects/projects-list.html">
  <link rel="import" href="projects/params-custom.html">

  
  <link rel="import" href="google-signin-status.html">


  

  <polymer-element name="base-element" attributes="clientId RootUrl">

      <template>
          <style>

              #core_header_panel {
                  background-color: rgb(255, 255, 255);
              }
              #core_toolbar {
                  color: rgb(255, 255, 255);
                  background-color: rgb(79, 125, 201);
              }
              #core_menu {
                  font-size: 16px;
              }
          </style>
          <core-scaffold id="core_scaffold">
              <core-header-panel mode="seamed" id="core_header_panel" navigation flex>
                  <core-toolbar id="core_toolbar"><a target="_blank" href="/_ah/api/explorer">/_ah/api/explorer</a></core-toolbar>
                  

                  <projects-list api="{{api}}" project_id="{{project_id}}"></projects-list>


              </core-header-panel>

              <div id="div" tool fit horizontal justified layout center>  
                
                  <div></div>


                  <google-signin-status clientId="{{clientId}}" RootUrl="{{RootUrl}}" api="{{api}}"></google-signin-status>
                    
              </div>


              <div layout vertical>

                  <template if="{{project_id}}">

                    <params-custom api="{{api}}" project_id="{{project_id}}"> </params-custom>

                    <projects-group api="{{api}}" project_id="{{project_id}}"> </projects-group>

                  </template>

              </div>


          </core-scaffold>
      </template>

      <script>

          Polymer({


          });

      </script>

  </polymer-element>


<script>


Array.prototype.choose = function(type) {

    if (!this || this.length < 1){
        return false;
    }

    if (type && type[0] && type[0].addedCount > 0){
        return this[this.length - 1].id;
    }

    return this[0].id;
}

Array.prototype.removeById = function(id) {

    if (!this || this.length < 1){
        return false;
    }

    for (var i = 0; i < this.length; i++) {
        if (this[i].id == id) {
            this.splice(i, 1);
        }
    }
}


</script>