<link rel="import" href="bower_components/google-signin/google-signin.html">
<link rel="import" href="google-client-api-custom.html">




<!--
Element providing information about the authenticated user.
Needs a google-signin element included somewhere on the same page
that handles authentication.
-->
<polymer-element name="google-signin-status" attributes="clientId RootUrl api">
  <template>
    <style>
    
      img {
        vertical-align: bottom;
        max-width: 30px;
        max-height: 30px;
      }

      google-signin{
        margin-left: 20px;
        margin-right: 10px;
      }

      paper-button{
        background: #4285f4;
        color: #fff;
        margin-right: 35px;        
      }

    </style>


    <div horizontal end-justified layout center>

        

        <google-api-loader id="plus" name="plus" version="v1"
          on-google-api-load="{{displayProfile}}">
        </google-api-loader>


        <google-api-loader-custom id="vktopgroups" name="vktopgroups" version="v1" appId="vktopgroups" RootUrl="{{RootUrl}}"
          on-google-api-load="{{vkLoad}}">
        </google-api-loader-custom> 



        <google-signin-aware
          scopes="profile"
          on-google-signin-aware-success="{{signIn}}"
          on-google-signin-aware-failure="{{signOut}}"
          on-google-signin-aware-signed-out="{{signOut}}"></google-signin-aware>

        <div>
          <template if="{{signedIn}}">
            Signed in as <b>{{profile.displayName}}</b> <a href="{{profile.url}}"><img src="{{profile.image.url}}"></a>
          </template>
          <template if="{{!signedIn}}">
            Not signed in!
          </template>
        </div>


        <google-signin 
           clientId={{clientId}}
           scopes="https://www.googleapis.com/auth/userinfo.email">
       </google-signin>

        


    </div>




  </template>
  <script>
    Polymer('google-signin-status', {

      signedIn: false,

      signIn: function () {
        this.signedIn = true;
        this.displayProfile();
        this.vkLoad();
      },

      signOut: function () {
        this.profile = null;
        this.signedIn = false;
      },

      displayProfile: function () {
        if (this.signedIn && this.$.plus.api) {
          var request = this.$.plus.api.people.get({"userId": "me"});
          request.execute(function (resp) {
            this.profile = resp;
          }.bind(this));
        }
      },


      vkLoad: function () {

        console.log('VK: try to load');

        if (this.signedIn && this.$.vktopgroups.api) {

            this.api = this.$.vktopgroups.api;

            console.log('vk api loaded!-)');

        }
      }


    });


  </script>
</polymer-element>

